{% extends 'cc/base.html' %}
{% load staticfiles %}

{% block tabs %}
<li><a href="/">Home</a></li>
<li><a href="/transactions">View Transactions</a></li>
{% endblock %}

{% block content %}
<div class="col-md-6">
  <form id="form col-md-4 center-block" method="post" action="/transactions/">
    {% csrf_token %}
    <input type="text" class="form-control input-lg" name="username" placeholder="Username" size="50" />
    <br />
    <input type="password" class="form-control input-lg" name="password" placeholder="Password" size="50" />
    <br />
    <button class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button>
  </form>
</div>
{% endblock content %}